nimcache/
nimblecache/
htmldocs/
.idea/

# Android
.gradle
.DS_Store
build/
captures/
.externalNativeBuild
.cxx
local.properties


docs/

*.log
*.lg
*.crashlog
*.crash
*.iml

# Binaries
*.exe
*.x86
*.x64
*.x32_86
*.zip
*.7z

# Cache
*.js
